
<header>
  <body>
   


    <!-- NavBar -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"/>
 
    <div class="container">
      <div class="heading">
      
      </div>
       <h1 class="head">MAP-A-PROFILE</h1>
 
       <div class="row">
        <div class="column">
          <div class="card">
            <img class="card-img-top" src="admin.png" alt="Card image cap">

            <div class="card-im"></div>
              <div class="card-body">
                <h5 class="card-title">Adams
                  Baker </h5><h5>30yrs</h5>
                <p class="card-text">A creative soul with a passion for coding and design. I thrive on crafting seamless user experiences and bringing ideas to life.</p>
                <a href="#map" class="btn btn-primary">Summary</a>
              </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
              <img class="card-img-top" src="admin.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Ethan Johnson</h5>
                <p class="card-text">A data aficionado who loves unearthing insights from complex datasets. From machine learning to data visualization, I enjoy making data stories come alive.</p>
                <a href="#map" class="btn btn-primary">Summary</a>
              </div>
             </div>
            </div>

        <div class="column">
          <div class="card">
            <img class="card-img-top" src='admin.png' alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Emily Patel</h5>
                <p class="card-text"> UX designer passionate about crafting seamless and delightful user experiences. She combines empathy with user research to design intuitive interfaces.</p>
                <a href="#map" class="btn btn-primary">Summary</a>
              </div>
            </div>
        </div>

        <div class="column">
          <div class="card">
         <img class="card-img-top" src="admin.png" alt="Card image cap">
             
              <div class="card-body">
                <h5 class="card-title"> Jason Lee</h5>
                <p class="card-text"> systems architect known for designing complex, distributed systems that handle high traffic and ensure scalability. With a passion for solving performance challenges</p>
                <a href="#map" class="btn btn-primary">Summary</a>
              </div>
          </div>
        </div>
<!---
        <div class="column">
          <div class="card">
         <img class="card-img-top" src='icon.png' alt="Card cap">
              <div class="card-body">
                <h5 class="card-title">Alex Chang</h5>
                <p class="card-text"> DevOps engineer who thrives on automating and streamlining development processes. dedicated to keeping digital information</p>
                <a href="#" class="btn btn-primary">SUmmary</a>
                
              </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
         <img class="card-img-top" src="icon.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Maria Joe</h5>
                <p class="card-text">cybersecurity expert dedicated to keeping digital information safe.she helps organizations identify vulnerabilities enhance their security.</p>
                <a href="#" class="btn btn-primary">Spot Address on Map</a>
              </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
         <img class="card-img-top" src="icon.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Olivia Miltan</h5>
                <p class="card-text"> product manager known for turning ideas into successful products. Her thinking and communication skills enable her to lead teams effectively.</p>
                <a href="#" class="btn btn-primary">Spot Address on Map</a>
              </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
         <img class="card-img-top" src="icon.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Harish Sharma</h5>
                <p class="card-text"> machine learning enthusiast who enjoys exploring the possibilities of AI.Enjoys hiking and exploring new coffee shops.</p>
                <a href="#" class="btn btn-primary">Spot Address on Map</a>
              </div>
          </div>
        </div>  ->

      </div>  <!--row --->

      <div id="map"></div>
    </div>    <!--container-->
      